<div class="dropdown">
  <div class="dropdown-toggle bars-size" data-toggle="dropdown"><i class="fa fa-bars" ></i></div>
  <div class="dropdown-menu dropdown-menu-left navbar-resume-dropdown-menu">
    <div><a class="tab-column" data-target="#about">About</a></div>
    <div><a class="tab-column" data-target="#experiences">Experiences</a></div>
    <div><a class="tab-column" data-target="#education">Education</a></div>
    <div><a class="tab-column" data-target="#skills">Skills</a></div>
    <div><a class="tab-column" data-target="#side-projects">Side projects</a></div>
    <div><a class="tab-column" data-target="#activities">Activities</a></div>
  </div>
</div>

<div class="navbar-resume-right">
  <% link_to "mailto:franceschi.camille@gmail.com", target: :_blank do %>
    <h4><i class="fa fa-envelope fa" aria-hidden="true"></i></h4>
  <% end %>
  <% link_to "https://github.com/CamilleFranceschi", target: :_blank do %>
    <h4><i class="fa fa-github fa" aria-hidden="true"></i></h4>
  <% end %>
  <% link_to "https://www.linkedin.com/in/camille-franceschi", target: :_blank do %>
    <h4><i class="fa fa-linkedin fa" aria-hidden="true"></i></h4>
  <% end %>
  <%= image_tag "avatar-camille.png", class: "avatar avatar-small avatar-border-white-md" %>
</div>

<!--     <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
 -->
