<h2>Side Projects</h2>

<div class="container-fluid">
  <div class="card flex-center-row-end">
    <% data.side_projects.each do |exp| %>
      <% exp.each do |name, info| %>
        <div class="flex-center-column text-center">
            <% link_to info["url"], target: :_blank do %>
              <%= image_tag info["screen"], class: "logo-size-large", id: "margined-screen" %>
              <h4><%= info["title"] %></h4>
              <%= image_tag info["stack"], class: "logo-size-small-height", id: "margined-stack" %>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
  <h3 class= text-center>BookShare Demo</h3>
  <div class="videowrapper">
    <iframe src="https://www.youtube.com/embed/tZKlC27WjtM" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
