.avatar {
  border-radius: 50%;
}

.avatar-medium {
  width:125px;
}

.avatar-small {
  width:50px;
}

.avatar-large {
  width:200px;
}

.avatar-border-white-lg {
  border: solid 3px white;
}

.avatar-border-white-md {
  border: solid 1.5px white;
}
