.btn-green {
  background-color: $green;
  border-radius: $border-radius-base;
  transition: all 0.20s ease;
  padding: 10px 20px;
  color: white;
}

.btn-size-small {
  width:120px;
  margin: auto;
}

.btn-green:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: white;
}
