.product {
  border-radius: $border-radius-base;
  padding: 35px;
  margin: 20px 0;
  position:relative;
}

.product-flex {
  display: flex;
  align-items:center;
}

.product-date {
  position: absolute;
  top:0;
  right:0;
  font-size: 12px;
  font-weight: bold;
  background: $gray-dark;
  color: white;
  padding: 10px;
  margin:none;

  p {
  margin:0;
  }
}

.product-logo {
  padding-right: 20px;
}
