/* Main class */
.navbar-resume {
  background: white;
  transition: all 0.3s ease;
  display: flex;
  height: 60px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: $gray-extra-light;
}

/* Navbar right section (with form, links, button) */
.navbar-resume-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-resume-right a {
padding-right: 15px;
}

/* Navbar item */
.navbar-resume-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

.bars-size {
 font-size: 23px;
 z-index: 1060;
}

/* Navbar dropdown menu */
.dropdown {
  .fa {
    color: $gray-light;
  }

  h3 {
  margin: 0px;
  }
}


.navbar-resume-dropdown-menu {
  margin-top: 10px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  padding: 20px 0;

  a {
    display:block;
    transition: color 0.3s ease;
    font-weight: lighter !important;
    color: #999999 !important;
    font-size: 15px !important;
    line-height: 22px !important;
    padding: 6px 15px;
  }

  a:hover {
    background: rgba(26, 165, 154,0.2);
    color:black;
  }

  &:before {
    content: ' ';
    height: 10px;
    width: 10px;
    position: absolute;
    right: 135px;
    top: -6px;
    background-color: white;
    transform: rotate(45deg);
    border-left: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
  }
}

.dropdown-backdrop {
    position: static;
}
