// Variables

$width: 100px;

// Hamburger

button {
  background-color:transparent;
  padding: 0px;
}
.hamburger {
  position: fixed;
  width: 50px;
  font-size: 23px;
  top: 17px;
  left: 16px;
  z-index: 1060;
  border: none;
  display: block;
  height: 27px;

  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
.hamburger.is-closed {
  &:before {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: $width;
  }
  &:hover {
    before {
      -webkit-transform: translate3d(-100px,0,0);
      -webkit-transition: all .35s ease-in-out;
      display: block;
      opacity: 1;
    }
    .hamb-top {
      -webkit-transition: all .35s ease-in-out;
      top: 0;
    }
    .hamb-bottom {
      -webkit-transition: all .35s ease-in-out;
      bottom: 0;
    }
  }
  .hamb-top {
    -webkit-transition: all .35s ease-in-out;
    background-color: $gray-light;
    top: 5px;
  }
  .hamb-middle {
    background-color: $gray-light;
    margin-top: -2px;
    top: 50%;
  }
  .hamb-bottom {
    -webkit-transition: all .35s ease-in-out;
    background-color: $gray-light;
    bottom: 5px;
  }
}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom  {
  height: 3px;
  left: 13px;
  position: absolute;
  width: 26px;
}
.hamburger.is-open {
  .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    background-color: $gray-light;
    margin-top: -2px;
    top: 50%;
  }
  .hamb-middle {
    background-color: $gray-light;
    display: none;
  }
  .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    // background-color: #1a1a1a;
    background-color: $gray-light;
    margin-top: -2px;
    top: 50%;
  }
  &:before {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: $width;
  }
  &:hover {
    before {
      -webkit-transform: translate3d(-100px,0,0);
      -webkit-transition: all .35s ease-in-out;
      display: block;
      opacity: 1;
    }
  }
}

// Sidebar

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  transition: all 0.5s ease;
  background-color: $gray-extra-light;

}

// General wrapper

#wrapper {
    padding-left: 0px;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}


#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}


// Page content wrapper

  #page-content-wrapper {
      padding: 20px 0px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }

// Sidebar

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs-column {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

.tab-column {
  text-decoration: none;
}

.tab-column:hover {
    background: rgba(26, 165, 154,0.2);
    cursor: pointer;
    text-decoration: none;
}

.tab-column.active {
    background: rgba(26, 165, 154,0.2);
    border-left: 6px solid $green;
    color: #4A4A4A;
    letter-spacing: 0.5px;
}

#sidebar-head {
  color: $gray-dark;
}


#sidebar-body h5 {
 color: $gray-darker;
}
