/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}


.margined-bottom {
  margin-bottom: 5%;
}

.margin-l-r-auto {
  margin-right: auto;
  margin-left:auto;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.center-inside {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
