/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padded-light {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padded-light-left {
  padding-left: 20px;
}

.padding-left-right {
  padding: 0 35px;
}

.margined-bottom {
  margin-bottom: 5%;
}

.margined-top {
  margin-top: 30%;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

// flex
.flex-center-column {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.flex-center-row-start{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-center-row-end{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

.flex-center-full-page {
  display: flex;
  align-items: center;
}
