a {
  text-decoration: none;
}
.fa:hover {
  transform: scale(1.2);
}

.wrapper-white {
  background-color: white;
}




#about h1 {
  padding: 0px 0 40px 0;
  font-size: 45px;
  font-weight: bold;
  color:$green;
}
#about  p {
 font-size: 18px;
}

#page-content h2 {
  color:$green;
}
#page-content h2 {
  padding: 40px 0px 30px 0;
  font-size: 35px;
  font-weight: bold;

}


.logo-size-small {
// height: 90px;
width:85px;

}
