<div class="banner" style="background-image: linear-gradient(-199deg, rgba(146,157,144,0.6) 3%, rgba(0,35,23,0) 24%), url('images/surfer.jpg');">
  <div class="banner-content text-center">
    <h1>Camille Franceschi</h1>
    <ul class="list-inline">
      <li>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-github" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </li>
    </ul>
    <a href="" class="btn btn-red">Voir plus</a>
  </div>
</div>
    <div class="wrapper-white">
      <div class="container">
        <div class="tabs text-center">
          <a class="tab active" data-target="#about">
            <h3>350</h3>
            <p>Followers</p>
          </a>
          <a class="tab" data-target="#experiences">
            <h3>456</h3>
            <p>Following</p>
          </a>
          <a class="tab" data-target="#education">
            <h3>189</h3>
            <p>Upvoted</p>
          </a>
          <a class="tab" data-target="#skills">
            <h3>13</h3>
            <p>Submitted</p>
          </a>
          <a class="tab" data-target="#side-projects">
            <h3>13</h3>
            <p>Submitted</p>
          </a>
          <a class="tab" data-target="#activities">
            <h3>13</h3>
            <p>Submitted</p>
          </a>
        </div>
      </div>
    </div>

<div class="wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="card card-white text-center tab-content" id="about">
          <h2>About</h2>
          <p>3 years of M&A background and a first entrepreneurial experience
          Looking for a new challenge in a start-up/tech environment</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="card card-white text-center tab-content hidden" id="experiences">
          <h2>Experiences</h2>
          <p>JOBORA
          Career marketplace for retail and services industries, Paris
          August 2016 - Present
          Structure the entire process
          Build business metrics
          Work on fundraising
          Build the business plan & roadmap
          Build the platform roadmap
          More info here
          CFL
          M&A Boutique, Paris
          September 2013 - July 2016
          RTE - EnV at €16.7bn
          Nice Airport - EnV at €2.3bn
          Géothermie Bouillante - EnV at €52m
          Vergnet Hydro - EnV at €9m
          More info here</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="card card-white text-center tab-content hidden" id ="education">
          <h2>Education</h2>
          <p>Paris Dauphine University
          September 2008 - January 2013
          Master of Science in Quantitative Finance (104)
          Licence of Mathematics and Computer Science
          HEC Lausanne
          February 2013 - July 2013
          Master of Science in Corporate Finance</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-offset-1 col-md-10 ">
        <div class="card card-white text-center tab-content hidden" id="skills">
          <h2>Skills</h2>
          <p>Business
          Market & business analysis
          Financial analysis
          Financial modelisation
          View more
          Programming
          R/Matlab/Java
          VBA
          HTML/CSS
          Javascript/jQuery
          Ruby/Ruby on Rails
          View more
          Design
          Sketch</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10 ">
        <div class="card card-white text-center tab-content hidden" id="side-projects">
          <h2>Side Projects</h2>

          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-lg-4 ">
                <div class="card card-grey center-inside margined-bottom margin-l-r-auto">
                  <img src="images/logo_bookshare_blue.png" alt="">
                  <a href="" class="card-link"></a>
                </div>
                <!-- insert <div class="card"> -->
              </div>
              <div class="col-xs-12 col-lg-4 ">
                <div class="card card-grey center-inside margined-bottom margin-l-r-auto">
                  <img src="images/logo_easycat.png" alt="">
                  <a href="" class="card-link"></a>
                  </div>
                <!-- insert <div class="card"> -->
              </div>
              <div class="col-xs-12 col-lg-4">
                <div class="card card-grey center-inside margined-bottom margin-l-r-auto">
                  <img src="images/Foodelice-logo-grey.png" alt="">
                  <a href="" class="card-link"></a>
                </div>
                <!-- insert <div class="card"> -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10 ">
        <div class="card card-white text-center tab-content hidden" id="activities">
          <h2>Activities</h2>
          <p>Master 104 Association
          President of the association of the master Finance 104
          2012 - 2013
          Organisation of conferences with professionals
          Organisation of a skiing trop (28 participants)
          Cheer Up! Federation
          National association to fight against cancer
          2010 - 2012
          Communication team member
          Logistics team member for training weekends (250 participants)</p>
        </div>
      </div>
    </div>
  </div>
</div>
